@import "../../styles/variables";
@import "../../styles/mixins";

.contact-us{
    @include centralRowFlexPositionHWHundred;
    &_container{
        @include centralRowFlexPositionHWHundred;
        padding-top: 20px;
        &_text{
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
            width: 50vw;
        }
        &_map{
            width: 50vw;
        }
    }
}