@import "../../styles/variables";
@import "../../styles/mixins";

.contact-us{
    @include centralRowFlexPositionHWHundred;
    flex-direction: column;
    &_container{
        @include centralJustifyFlex;
        @include wHHundred;
        padding-top: 20px;
        &_text{
            display: flex;
            flex-direction: column;
            padding: 0px 3vw;
        }
        &_map{
            padding: 0px 3vw;
        }
    }
}