@media screen and (max-width: 1024px){
    .contact-us{
        &_container{
            flex-direction: column;
            align-items: flex-start;
            margin-top: 100px;
            &_text{
                padding: 0;
                h2{
                    padding-top: 5%;
                };

                p{
                    margin: 0px;
                };

            };
            &_map{
                padding: 5% 0;

                iframe{
                    width: 70vw;
                    height: 40vh;
                };

            };
        };
    };
};

@media screen and (max-width: 610px){
    .contact-us{
        &_container{
            text-align: center;
            align-items: center;
            &_text{
                &_links{
                    a{
                        padding-left: 10%;
                    }
                }
            }
        };
       
      
    };
};

@media screen and (max-width: 400px){
    .contact-us{
        &_container{
            text-align: center;
            align-items: center;
        };
    };
};

