@media screen and (max-width: 1024px){
    .contact-us{
        // height: 800px;
        &_container{
            flex-direction: column;
            align-items: flex-start;
            // width: 70vw;
            &_text{
                padding: 0;
                h2{
                    padding-top: 5%;
                };

                p{
                    margin: 0px;
                };

            };
            &_map{
                margin-top: 300px;
                padding: 5% 0;

                iframe{
                    width: 70vw;
                    height: 40vh;
                };

            };
        };
    };
};

@media screen and (max-width: 610px){
    .contact-us{
        &_container{
            margin-top: 250px;
        };
    };
};

@media screen and (max-width: 400px){
    .contact-us{
        &_container{
            text-align: center;
            align-items: center;
        };
    };
};

