
body {
  padding: 0;
  margin: 0;
};

.Description-Scroll {
  margin: 4% 7.9% !important;
};
.scrolled-content-header h1 {
  margin: 4% 17.7% !important;
};

// @media (max-width: 1760px) {
  
//   .Description-Scroll {
//     margin: 4% 7.9% !important;
//   };
//   .scrolled-content-header h1 {
//     margin: 4% 17.7% !important;
//   };

// };

.scrolled-content-header h1 {
  text-transform: uppercase;
  color:  #232323;
  letter-spacing: 1.41px;
  font-style: normal;
  font-size: 54px;
  line-height: 66px;
  margin: 4% 10%;
  font-weight: 800 !important;
};

@media(max-width: "599px") {

  .scrolled-content-header h1 {
    font-size: 30px;
    line-height: 34px;
  };

  .content {
    height: 420px !important;
    margin: 3px 3px 3px 0px;
    width: 100% !important;
  };

  .content-body p {
    color: rgba(46, 46, 46, 0.82) !important;
    opacity: 0.82;
    font-size: 1rem !important;
    line-height: 1.7rem !important;
  };

};

.content {
  height: 310px;
};

.scrolled-content {
  display: flex;
};

.scrolled-text {
  flex: 0 0 35%;
  padding-right: 6%;
};

.scrolled-images {
  flex: 0 0 60%;
  position: relative;
};

.Description-Scroll {

  .extension-header-top {
    width: 100%;
  };

  .content-header h2 {
    color: #232323 !important;
    font-size: 1.6rem !important;
    margin-bottom: 10px !important;
  };

  .content-body p {
    color: rgba(46, 46, 46, 0.82) !important;
    opacity: 0.82;
    font-size: 1.2rem;
  };

  .scrolled-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  };

  padding: 1% 8% 25% 10% !important;
  margin-bottom: 10px !important;
};


.Description-Scroll-image {
  padding-top: 40px;

  img {
    width: 60%;
    height: 100%;
  };

};

.Description-Scroll {

  img {
    display: block;
    margin: 0 auto;
    max-height: 60rem;
  };

  p {
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
  };

  h1, h2, h3, h4, h5 {
    margin: 25px 0;
  };

  h3, h4, h5 {
    text-align: left;
    font-weight: bold;
  };

  h1 {
    margin: 0 0 10px;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: normal;
  };

  h2 {
    font-size: 2.3rem;
    font-weight: 900;
  };

  h3 {
    font-size: 1.2rem;
  };

  h4 {
    font-size: 1.1rem;
  };

  ul {
    text-align: left;
  };

  li {
    margin: 15px 0 0 35px;
    list-style: initial;
  };

  a {
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: red;
    };

  };

  .footer-button {
    margin-top: 30%;
  };

  .extension-block {
    margin-bottom: 50px;
  };

  .extension-header {
    display: flex;
  };


  @media (max-width: 540px) {

    .Description-Scroll {
      margin-bottom: 0 !important;

      .extension-block h2 {
        font-size: 1.15rem !important;
      };

      .extension-block {
        margin-left: -30px;
      };

      .content-body p {
        color: rgba(46, 46, 46, 0.82) !important;
        opacity: 0.82;
        font-size: 0.9rem !important;
        line-height: 1.6rem !important;
      };

    };

    .scrolled-content-header {
      font-size: 1.2rem;
      line-height: 1.6rem;
    };

  };

};