@import "../../styles/variables";

@mixin centralPosition{
  display: flex;
  align-items: center;
  justify-content: center;
};

@mixin centralPositionHW{
  // H - Height;
  // W - Width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
};

@mixin buttonCorrect{
  outline: none;
  border: none;
  cursor: pointer;
};

*{
  font-family: "Montserrat", sans-serif;
};

.instruction {
  @include centralPositionHW;

  .instruction_container{
    @include centralPosition;
    width: 85%;
    height: 100%;
    flex-direction: column;

    .instruction_container_header{
      @include centralPositionHW;
      padding-top: 10%;

      .instruction_container_header_title, .instruction_container_header_text{
        @include centralPositionHW;
      };

      .instruction_container_header_title h1{
        color: $extensionInstructionColor;
        font-style: Bold;
        font-size: 59px;
        line-height: 72px;
        line-height: 100%;
      };

      .instruction_container_header_text{
        @include centralPositionHW;
        padding-top: 5%;
      };

      .instruction_container_header_text p{
        color: $extensionInstructionColor;
        font-style: Regular;
        font-size: 25px;
        line-height: 30px;
        line-height: 100%;
        text-align: center;
        margin: 0px;
      };

    };

    .instruction_container_start{
      @include centralPositionHW;
      padding: 100px 0 100px 0;

      .start-free{
        @include buttonCorrect;
        background-color: $startBtnColor;
        color: $color;
        height: 89.52px;
        width: 30%;
        border-radius: 110px;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 34px;
      };

    };





  };

  .instruction_container_main{
    //@include centralPositionHW;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 75%;

    .instruction_container_main_text-hints{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 94%;

      .instruction_container_main_text-hints_b .hints_folder_content{
        padding-top: 20px;
      };


      .instruction_container_main_text-hints_a, .instruction_container_main_text-hints_b{
        width: 49%;
        height: 485px;
        flex-direction: column;
        border-radius: 13px;
        border: $extensionInstructionColor solid;
      };

      .hints_title{
        padding-top: 5%;
      };

      .hints_folder_top{
        display: flex;
        align-items: center;
        color: $blackColor;
        padding-top: 5%;

        .hints-img-a{
          padding-left: 20px;
        };
      };

      .hints_folder h2, .hints_folder p{
        color: $blackColor;
        font-size: 16px;
      };

      .hints_folder h2{
        font-weight: 700;
        padding: 3% 0 3% 0;
      };

      .hints_header{
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 20px;
      };

      .hints_header h2{
        text-transform: uppercase;
        font-size: 19px;
        line-height: 23px;
        font-size: 19px;
        font-weight: 700;
        color: $blackColor;
      };


      .hints_folder{
        display: flex;
        flex-direction: column;
        width: 100%;
        //height: 100%;
        padding: 20px;


        .hints_folder_content{
          display: inline-flex;
          width: 100%;

          .hints-img-b{
            width: 45px;
            height: 45px;
          };
        };

        .hints_folder_content p{
          display: flex;
          padding-left: 40px;
          color: $blackColor;
        };

      };

      .hints_footer a{
        @include centralPosition;
        color: $extensionInstructionColor;
        text-decoration-line: underline;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        padding-right: 100px;
      };

      .hints_footer{
        display: inline-flex;
        width: 100%;
        justify-content: space-around;

        .register{
          @include buttonCorrect;
          width: 300px;
          background: linear-gradient(179.1deg, #6178F5 22.38%, #195AA9 82.85%);
          border-radius: 5px;
          height: 50px;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          color: $color;
        };

      };

    };

    .instruction_container_main_presentation{
      display: flex;
      width: 94%;
      height: 100%;
      background-color: gray;
      margin-top: 20px;
      border-radius: 13px;

      .instruction_container_main_presentation_right, .instruction_container_main_presentation_left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        height: 100%;
        padding-bottom: 3%;
      };

      .instruction_container_main_presentation_left{
        padding-left: 30px;
      };

      .instruction_container_main_presentation_left .presentation_section:nth-child(2),
      .instruction_container_main_presentation_right .presentation_section:nth-child(2){
        padding-top: 30%;
      };

      .instruction_container_main_presentation_left .presentation_section:nth-child(2)
      .presentation_section_main{
        padding-top: 30%;
      };

      .instruction_container_main_presentation_right .presentation_section:nth-child(2)
      .presentation_section_main img{
        width: 100%;
        height: 100%;
        //padding-left: 3%;
        padding: 0 3% 0 3%;
      };

      .instruction_container_main_presentation_right{
        padding-left: 3%;
      };


      .presentation_section{
        padding-top: 20px;
        width: 100%;
      };

      .presentation_section_header{
        display: inline-flex;
      };

      .presentation_section_header h3{
        color: $blackColor;
        text-transform: uppercase;
        font-weight: 700;
        padding-left: 30px;
      };

      .presentation_section_header_image{
        align-items: center;
        justify-content: center;
        display: flex;
      };

      .presentation_section_header_image img{
        height: 85%;
      };

      .presentation_section_main{
        padding-top: 60px;
      };

      .presentation_section_main img:nth-child(1){
        width: 85%;
        padding-left: 80px;
        position: relative;
        z-index: 5;
      };

      .presentation_section_main h2{
        color: $blackColor;
        padding-top: 20px;
      };

      .presentation_section_main h2 span{
        background-color: #6078F4;
        color: $color;
      };


      .presentation-arrow{
        width: 40%;
        position: relative;
        z-index: 0;
        margin-bottom: -40px;
        margin-top: -90px;
        margin-left: 70%;
      };

    };

  };

  .instruction_container_footer{
    @include centralPositionHW;
  }

};
