@media screen and (max-width: 2000px){
  .instruction_container_arrow img{
    margin-right: -400px;
    margin-bottom: -300px;
  };
};

@media screen and (max-width: 1900px){
  .instruction_container_arrow img{
    margin-right: -350px;
    margin-bottom: -300px;
  };
};

@media screen and (max-width: 1800px){
  .instruction_container_arrow img{
    margin-right: -300px;
    margin-bottom: -300px;
  };
};

@media screen and (max-width: 1700px){
  .instruction_container_arrow img{
    margin-right: -250px;
    margin-bottom: -300px;
  };
};

@media screen and (max-width: 1600px){
  .instruction_container_arrow img{
    margin-right: -220px;
    margin-bottom: -300px;
  };
};

@media screen and (max-width: 1500px){
  .instruction_container_arrow img{
    width: 180px;
    margin-right: -180px;
    margin-bottom: -290px;
  };
};

@media screen and (max-width: 1400px){
  .instruction_container_arrow img{
    width: 148px;
    margin-right: -135px;
    margin-bottom: -240px;
  };
};

//@media screen and (max-width: 1700px){
//
//  .presentation_section h3{
//    font-size: 20px;
//  };
//
//  .register, .card
//  _footer a{
//    margin-left: 30px;
//  };
//
//  .instruction_container_main_presentation_left .presentation_section:nth-child(2)
//  .presentation_section_main{
//   margin-top: 30px;
//  };
//
//  .instruction_container_main_text-card
//  _a h2{
//    font-size: 18px;
//  };
//
//  .presentation_section_header h3{
//    font-size: 19px;
//  };
//
//};
//
//@media screen and (max-width: 1600px){
//
//  .instruction_container_main_text-card
//  _a h2{
//    font-size: 17px;
//  };
//
// .presentation_section_header h3{
//   font-size: 18px;
// };
//
//  .card
//  _folder img{
//    display: flex;
//    width: 60%;
//    height: 100%;
//  };
//
//};
//
//@media screen and (max-width: 1500px){
//
//  .instruction_container_main_text-card
//  _a h2{
//    font-size: 16px;
//  };
//
//  .presentation_section_header h3{
//    font-size: 16px;
//  };
//
//};
//
//@media screen and (max-width: 1400px){
//
//  .instruction_container_main_text-card
//  _a h2{
//    font-size: 13px;
//  };
//
//};