@mixin pureBody{
  padding: 0;
  margin: 0;
};

@mixin centralFlexPosition{
  display: flex;
  align-items: center;
  justify-content: center;
};

@mixin centralAlignFlex{
  display: flex;
  align-items: center;
};

@mixin centralJustifyFlex{
  display: flex;
  justify-content: center;
};

@mixin centralRowFlexPositionHWHundred{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
};

@mixin centralColumnFlexPositionHWHundred{
  // H - Height;
  // W - Width;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
};

@mixin flexColumn{
  display: flex;
  flex-direction: column;
};

@mixin buttonCorrect{
  outline: none;
  border: none;
  cursor: pointer;
};

@mixin wHHundred{
  width: 100%;
  height: 100%;
};

@mixin normalBoldFont{
  font-style: normal;
  font-weight: bold;
};