$bgColor: #fff;
$color: #fff;
$textColor: rgb(51, 51, 51);
$mainColor: #006fd1;
$plansBorderTopColor: #ECEFFF;
$plansParagraphColor: #535353;
$extensionInstructionColor: #195AA9;
$startBtnColor: linear-gradient(292.09deg, #FF8B4A 0%, #FFC24A 100%);
$startBtnColorHover: linear-gradient(292.09deg, #FF8B4A 100%, #FFC24A 0%);
$blackColor: #000000;
$opacity: 0.1;
$navMenuColor: #215599;