$bgColor: #fff;
$color: #fff;
$textColor: rgb(51, 51, 51);
$mainColor: #006fd1;
$plansBorderTopColor: #ECEFFF;
$plansParagraphColor: #535353;
$extensionInstructionColor: #195AA9;
$startBtnColor: #FF6A70;
$blackColor: #000000;
