@import "../../../styles/variables";
.Header {
    width: 100%;
    background-color: $mainColor;
    background-image: url(../../../assets/images/BlogTop.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    padding-top: 70px;
    position: relative;
    h1 {
        font-size: 3rem;
        @media screen and (max-width: 610px){
            font-size: 2.5rem;
        };
        a {
            color: inherit;
            &:hover {
                color: inherit;
            };
        };
    };

    .container{
        width: 100%;
        @media (min-width: 576px) {
            max-width: 540px;
        };
        @media (min-width: 768px) {
            max-width: 620px;
        };
        @media (min-width: 992px) {
            max-width: 860px;
        };
        @media (min-width: 1200px) {
            max-width: 1040px;
        };
    };

}
