@import "../../styles/variables";
@import "../../styles/mixins";

html, body{
 @include pureBody;
};

#btn-folder{
  display: flex;
  width: 200px;
  height: 50px;
  position: absolute;
  z-index: 20;
}

.test-btn{
  @include buttonCorrect;
};

#main-field{
  @include centralColumnFlexPositionHWHundred;
};

#main-field_container{
  @include wHHundred;
  position: relative;
  transition: background 1s ease-in;
  background: no-repeat bottom/cover url("../../assets/images/player-animation/playerBackgroundTestA.svg");
};

#main-field_background{
  @include wHHundred;
  background: no-repeat/cover;
  background-color: #6AB2F5;
  opacity: 0.2;
  position: absolute;
  transition:  1s ease-in;
};

.rectangle-text{
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 41px;
};