@import "../../styles/variables";
@import "../../styles/mixins";

@keyframes smoothAppearBlackCircle{
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
};

html, body{
 @include pureBody;
};

#btn-folder{
  display: flex;
  width: 200px;
  height: 50px;
  position: absolute;
  z-index: 50;
}

.test-btn{
  @include buttonCorrect;
};

#main-field{
  @include centralColumnFlexPositionHWHundred;
};

#main-field_container{
  @include wHHundred;
  position: relative;
  transition: background 1s ease-in;
  background: no-repeat bottom/cover url("../../assets/images/player-animation/playerBackgroundTestA.svg");
};

#main-field_background{
  @include wHHundred;
  background: no-repeat/cover;
  background-color: #6AB2F5;
  opacity: 0.5;
  position: absolute;
  transition:  1s ease-in;
  // animation: smoothAppearBlackCircle 3s ease-in-out infinite;
};

#black-circle{
  @include wHHundred;
  position: absolute;
  transition:  1s ease-in;
  opacity: 1;
  // animation: smoothAppearBlackCircle 3s ease-in-out;
}

.rectangle-text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 41px;
  color: $blackColor;
};

.arrows-text{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 41px;
};

#steps{
  position: relative;
  z-index: 5;
};

// #circleInner{
//   fill-opacity: 0.5;
// }