@media screen and (max-width: 1024px){
    .slider-item{
        padding: 30px 160px;
        height: 50rem;
        &-content{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    

        &-avatar{
            width: 100%;
            margin-top: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        };

        .review{
            margin: 0px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            img{
                width: 50em;
            };

            p{
                font-size: 24px;
            }
        };

        };

    }

    #carousel-left{
        left: 60px;
    };
      
    #carousel-right{
        right: 60px;
    };

}

@media screen and (max-width: 640px){
    .slider-item {
        padding: 30px 80px;
    }
    #carousel-left{
        left: 40px;
    };
      
    #carousel-right{
        right: 40px;
    };

};

@media screen and (max-width: 590px){
    .slider-item-content{
        .review p{
            font-size: 18px;
        };
    };

};

@media screen and (max-width: 450px){
    #carousel-left{
        left: 30px;
    };
      
    #carousel-right{
        right: 30px;
    };

    .slider-item .review{
        margin-top: 3%;
    };

    .slider-item-content{

        .review p{
            font-size: 16px;
        };
    };
};


@media screen and (max-width: 350px){
    #carousel-left{
        left: 20px;
    };
      
    #carousel-right{
        right: 20px;
    };
};

