.slider * {
  outline: 0px !important;
}

.funny-avatar{
  border-radius: 100px;
  background-repeat: no-repeat;
  width: 180px;
  height: 180px;
}

.stars{
  padding-top: 10px;
}

.slider-item {
  width: 1050px;
  height: 290px;
  background: #3668b0;
  border-radius: 44px;
  padding: 2.5% 6%;
  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  &-avatar{
    flex-direction: column;
    display: flex;
    };

  }

  .review {
    margin-left: 60px;
    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #f2f2f2;
    }
  }
}

#carousel-left{
  cursor: pointer;
  position: absolute;
  z-index: 45;
  left: 0;
  top: 50%;
};

#carousel-right{
  cursor: pointer;
  position: absolute;
  z-index: 45;
  right: 0;
  top: 50%;
};
