.slider * {
  outline: 0px !important;
}

.stars{
  padding-top: 20px;
}

.slider-item {
  // margin: 0 100px;
  display: flex;
  // width: 1050px;
  width: 98%;
  height: 100%;
  background: #3668b0;
  border-radius: 44px;
  // padding: 2.5% 6%;
  padding: 30px 200px;
  &-content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  &-avatar{
    height: 100%;
    // width: 100%;
    flex-direction: column;
    display: flex;
    &_face{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 180px;
      overflow: hidden;

      .funny-avatar{
        border-radius: 80%;
        background-repeat: no-repeat;
        display: flex;
        height: 180px;
        width: 180px;
        // width: 100%;
        // height: 100%;

        
      }
    }
  };
  }

  .review {
    margin-left: 60px;
    & p {
      font-weight: 500;
      font-size: 18px;
      line-height: 160%;
      color: #f2f2f2;
    }

    & b {
      margin-top: 20px;
    }
  }
}

#carousel-left,
  #carousel-right{
    cursor: pointer;
    position: absolute;
    z-index: 45;
    top: 50%;
    transform: translateY(-50%);
}

#carousel-left{
  left: 60px;
};

#carousel-right{
  right: 60px;
};
