@import "../../../styles/mixins";
@import "../../../styles/variables";

@media screen and (max-width: 1200px){
    .options-item p{
        font-size: 35px;
    };

    .slider-item {
        width: 800px;
    };
};

@media screen and (max-width: 1024px){
    .relax{
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title{
            text-align: center;
            padding: 10%;
            .easy-way{
                font-size: 60px;
                padding-top: 10%;
            };

            .relax-sub{
                font-size: 40px;
            };

            .download{
                width: 80vw;
                font-size: 25px;
            };
        };

        .chill-image{
            width: 80vw;
            height: 50%;
        };

    };

    .options-row-first, .options-row-second, .products{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

        &-item, .options-item{
            margin: 20px 0px 20px 0px;
            width: 80vw;
                p{
                    font-size: 50px;
                };

                span{
                    font-size: 25px;
                };

                button{
                    font-size: 25px;
                };

                .relax-sub{
                    font-size: 25px;
                };

                img{
                    width: 30%;
                };
        };
    };

    .options-row-first{
        margin-top: 40px;
    };
};

@media screen and (max-width: 750px){
    .relax-title .relax-sub{
        font-size: 30px;
    };
  };

@media screen and (max-width: 640px){
    .options{
        margin: 0;
    };

    .relax-title{

        .easy-way{
            font-size: 50px;
        };

        .relax-sub{
            font-size: 25px;
        };

    };
  
    .privacy {
        margin-top: -5px;
        color: #c9c9c9;
      };

};

@media screen and (max-width: 545px){
    .options{
        margin: 0;
    }

    .relax-title{

        .easy-way{
            font-size: 45px;
        };

    };

};

@media screen and (max-width: 490px){

    .relax-title{

        .easy-way{
            font-size: 35px;
        };

        .relax-sub{
            font-size: 15px;
        };

    };

    .options-row-first, .options-row-second, .products{
        &-item, .options-item{
                p{
                    font-size: 35px;
                };

                .relax-sub{
                    font-size: 20px;
                };
        };
    };

};

@media screen and (max-width: 380px){
    .relax-title{

        .easy-way{
            font-size: 30px;
            padding-top: 30%;
        };

    };
};

@media screen and (max-width: 340px){
    .relax-title{

        .easy-way{
            font-size: 25px;
            padding-top: 40%;

        };

        .relax-sub{
            font-size: 15px;
        };

    };

    .options-row-first, .options-row-second, .products{
        &-item, .options-item{
                p{
                    font-size: 25px;
                };

                .relax-sub{
                    font-size: 18px;
                };
        };
    };
};

@media(max-width: "1534px"){

    .getStartedPlayer-button:nth-child(1){
        margin-top: 0;
    };

};

// @media screen and(max-width: "1000px"){
//     .startedPlayer-button {
//         width: 50%;
//     }
// };

// @media(max-width: "599px") {
//     .getStarted-logo {
//         width: 60%;
//     };

//     .startedPlayer-button {
//         width: 90% !important;
//         font-size: 0.9rem !important;
//         margin: 1% 2% !important;

//         &.top,&.bottom{
//         @include centralAlignFlex;
//         padding: 3% 2% !important;
//         };
//     };

//     .getStartedPlayer-button:nth-child(1){
//         margin-top: -100px;
//     };

// };

// @media (max-width: 540px) {
//     .Description-Scroll {

//         .player-block h2 {
//         font-size: 1.1rem !important;
//         };

//         .player-block p {
//         font-size: 0.9rem !important;
//         };

//         .player-block {
//         margin-left: -30px;
//         };

//         .player-content {
//         margin: 3px;
//         height: 450px;
//         width: 100%;
//         };

//         .scrolled-item img {
//         margin-right: 7px !important;
//         };

//     };

// };

// @media screen and (max-width: 500px){

//     .getStartedPlayer-button:nth-child(1){
//         margin-top: -50px;
//     };

// }
