@media screen and (max-width: 1200px){
    .options-item p{
        font-size: 35px;
    };

    .slider-item {
        width: 800px;
    };
};

@media screen and (max-width: 1024px){
    .relax{
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-title{
            text-align: center;
            .easy-way{
                font-size: 60px;
            };

            .relax-sub{
                font-size: 40px;
            };

            .download{
                width: 80vw;
                font-size: 25px;
            };
        };

        .chill-image{
            width: 80vw;
            height: 50%;
        };

    };

    .options-row-first, .options-row-second, .products{
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;

        &-item, .options-item{
            margin: 20px 0px 20px 0px;
            width: 80vw;
                p{
                    font-size: 50px;
                };

                span{
                    font-size: 25px;
                };

                button{
                    font-size: 25px;
                };

                .relax-sub{
                    font-size: 25px;
                };

                img{
                    width: 30%;
                };
        };
    };

    .options-row-first{
        margin-top: 40px;
    };
};

@media screen and (max-width: 750px){
    .relax-title .relax-sub{
        font-size: 30px;
    };
};

@media screen and (max-width: 640px){
    .options{
        margin: 0;
    };

    .relax-title{

        .easy-way{
            font-size: 50px;
        };

        .relax-sub{
            font-size: 25px;
        };

    };

};

@media screen and (max-width: 545px){
    .options{
        margin: 0;
    }

    .relax-title{

        .easy-way{
            font-size: 45px;
        };

    };

};

@media screen and (max-width: 490px){

    .relax-title{

        .easy-way{
            font-size: 35px;
        };

        .relax-sub{
            font-size: 15px;
        };

    };

    .options-row-first, .options-row-second, .products{
        &-item, .options-item{
                p{
                    font-size: 35px;
                };

                .relax-sub{
                    font-size: 20px;
                };
        };
    };

};

@media screen and (max-width: 380px){
    .relax-title{

        .easy-way{
            font-size: 30px;
        };

    };
};

@media screen and (max-width: 340px){
    .relax-title{

        .easy-way{
            font-size: 25px;
        };

        .relax-sub{
            font-size: 15px;
        };

    };

    .options-row-first, .options-row-second, .products{
        &-item, .options-item{
                p{
                    font-size: 25px;
                };

                .relax-sub{
                    font-size: 18px;
                };
        };
    };
};