@import "../../styles/variables";
@import "../../styles/mixins";

#homeB-container{
    @include centralColumnFlexPositionHWHundred;
};

#homeB-container_page{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 250vh;
    display: flex;
    flex-direction: column;
};

#svgObject{
    @include centralRowFlexPositionHWHundred;
};

#stepObject{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    // top: 55vw;
    top: 20vw;

   img{
       width: 100%;
       height: 100%;
   }

}