@import "../../styles/mixins";

#chat-bot{
    @include wHHundred;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
};

#chat-bot_container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 10;
    position: fixed;
    margin-top: 90vh;
};

#chat-bot_container_btn{
    display: flex;
    width: 100px;
    height: 100px;
};

#chat-bot_container_btn button{
    @include buttonCorrect;
    background: none;
    border-radius: 70%;
    margin-left: -20px;
};

#chat-bot_container img{
    width: 50px;
    height: 50px;
    border-radius: 20px;
};

#chat-bot_container_content{
    margin: 0px 20px 20px 20px;
};