@import "../../styles/mixins";

#privacy-btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5%;
    // margin-top: -3%;
    overflow: hidden;

    button{
      @include buttonCorrect;
      background: rgba(255, 255, 255, 0);
      color: #c9c9c9;
    };

};

@media(max-width: "599px"){
  #privacy-btn-container{
    margin-top: -3.5%;
  }
}
