@import "../../styles/variables";
@import "../../styles/mixins";

#mobile-pop-up{
    @include centralColumnFlexPositionHWHundred;
    z-index: 25;
    position: fixed;
    background-color: rgba(229, 229, 229, 0.6);
    transition: all 0.3s;

    .pop-up_conteiner{
        width: 80%;
        height: 50rem;
        display: flex;
        align-items: center;
        justify-content: center;
        &_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            height: 100%;
            background-color: $bgColor;
            box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            &_header{
                display: flex;
                flex-direction: column;
                width: 100%;

                h2{
                    color:#202128;
                    font-size: 2rem;
                }

                &_close{
                   display: flex;
                   width: 100%;
                   align-items: flex-end;
                   justify-content: flex-end;

                    button{
                       @include buttonCorrect;
                       margin: -3vw -3vw 0vw 0vw;
                       width: 8vw;
                       height: 8vw;
                       border-radius: 100%;
                       background: $bgColor;
                       box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
                       font-size: 2rem;
                    };
                };
            };
            &_main{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 80%;

                span:nth-child(2n){
                    color: #637CF2;
                };

                span:nth-child(2n+1){
                    color: #C73D43;
                };

                &_inputs{
                    width: 100%;
                    padding-bottom: 2vw;

                    #email-input{
                        border: 1px solid #DADCE5;
                        box-sizing: border-box;
                        color: #8A8D99;
                    }

                    #submit-input{
                        @include buttonCorrect;
                        @include centralFlexPosition;
                        background: #DADCE5;
                        color: #8A8D99;
                        border-radius: 30px;
                        transition: all 0.3s;
                    }

                    #email-input, #submit-input{
                        @include normalBoldFont;
                        display: flex;
                        width: 100%;
                        margin-top: 20px;
                        font-family: Montserrat;
                        font-size: 15px;
                        line-height: 21px;
                        height: 60px;
                    };
                }
            }
        }
    }
}