@import "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

#player-instruction{
    @include centralColumnFlexPositionHWHundred;
    background-color: #1f1f1f;

    h1{
        @include normalBoldFont;
        color: #FFFFFF;
        font-family: Roboto, sans-serif;
        font-size: 50px;
        line-height: 59px;
    };

    h2{
        @include normalBoldFont;
        font-family: Roboto, sans-serif;
        font-size: 32px;
        line-height: 37px;
        color: #FFFFFF;
        text-align: center;
    };

    p{
        @include pureBody;
        padding-left: 2%;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #FFFFFF;

    };

    p button{
        @include buttonCorrect;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: underline;
        color: white;
        font-size: 22px;
        background: #1f1f1f;
    };

};

#player-instruction_container{
    padding-top: 5%;
    padding-bottom: 20%;
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
};

#container_footer{
    display: flex;
    height: 100%;
    width: 100%;
};

#container_footer_folder{
    display: flex;
    width: 85%;
    height: 100%;
    align-items: flex-start;
    justify-content: space-between;
};

#footer_images_download, #footer_images_subtitles{
    margin-top: -20px;
};

#container_footer_folder_download h3{
    margin-left: 15%;
};

#container_footer_folder_subtitles h3{
    margin-left: 10%;
};

#container_header, #container_main, #container_footer{
    padding-top: 5%;
};

.player-instruction-content{
    display: inline-flex;
    background: #1f1f1f;
};

.player-instruction-block button img{
    width: 100%;
    display: flex;
};

.player-instruction-block button{
    @include buttonCorrect;
    background: #1f1f1f;
};

.player-instruction-block h3{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
};

.download-btn{
    @include buttonCorrect;
    width: 256px;
    height: 56px;
    background: #3CBE8A;
    border-radius: 10px;
    margin-left: 2%;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
};