@import "../../styles/variables";

body {
    padding: 0;
    margin: 0;
  }

@media (min-width: 1640px) {
  .container {
    width: 65% !important;
    margin: 5% 16% !important;
  }
}
  
  /* Desctop tariff-plans styles */
  .Plans {
    background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlans.svg");
    text-align: center;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 100px;

    .wrapper-plans {
      padding: 1% 0 4%;
    }
    
    .top-title {
      text-transform: uppercase;
      text-align: left;
      color: $color;
      font-weight: bold;
      letter-spacing: 1.41px;
      margin: 2% 18% 1.5%;
      font-size: 2.4rem;
      line-height: 40px;
    }
    
    .top-subtitle {
      color:  #E6EAFF;
      text-align: left;
      margin: 0 18%;
      font-size: 1.3rem;
      opacity: 0.8;
      line-height: 26px;
      letter-spacing: 1.41px;
      padding-top: 1%;
    }
  
    .container {
      width: 85%;
      margin: 5% 9%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }
  
    .item {
      background-color: $bgColor;
      border-radius: 40px;
      box-shadow: 0px 4px 40px rgba(42, 82, 130, 0.12);
      width: 360px;
      height: 540px;
      display: flex;
      margin: 0 2% !important;
      flex-direction: column;
      align-items: center;
    }
  
    .content {
      width: 90%;
      height: 80% !important;
      margin: 13% 0 5%;
      align-items: center;
    }
  
    .header {
      height: 27%;
    }
  
    .content h2 { 
      color: #759CCB;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 1.41px;
      text-transform: uppercase;
    }
  
    .content h1 { 
      padding-top: 7%;
      color: #232323;
      font-weight: bold;
      font-size: 2.5rem;
      line-height: 40px;
      letter-spacing: 1.5px;
      opacity: 0.8;
    }
  
    .content p {
      color: $plansParagraphColor;
      font-size: 1.4rem !important;
      letter-spacing: 1.41px;
    }
  
    .advantages {
      height: 48%;
      margin-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .advantages-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 3% 0;
      border-top: 1.9px solid $plansBorderTopColor;
    }
  
    .advantages-item img {
      width: 5px;
      height: 5px;
      margin-right: 5%;
      margin-left: 6%;
      margin-top: 5%;
    }
  
    .advantages-item p {
      margin-left: 2%;
      text-align: left;
      font-weight: 500 !important;
      color: $plansParagraphColor;
      font-size: 14px !important;
      line-height: 150%;
      letter-spacing: 1.41px;
    }
  
    .button {
      border-top: 1.9px solid $plansBorderTopColor;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -3%;
      padding-top: 22%;
    }
    
    .plans-button {
      display: block;
      width: auto;
      font-size: 1.5rem;
      letter-spacing: 1px;
      color: $color;
      font-weight: 800 !important;
      line-height: 32px;
      border-radius: 80px;
      &.top,&.bottom{
        display: flex;
        align-items: center;
        padding: 4% 13%;
      }
    }
  }

  // Mobile tariff-plans styles
  @media(max-width: "599px") {
    .Plans {
      background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlansMobile.jpg");

      .top-title {
        font-size: 18px !important;
        line-height: 22px !important;
      }

      .top-subtitle {
          font-size: 14px !important;
          line-height: 150% !important;
      }

      .container {
        margin: 7% auto;
        justify-content: space-around;
        flex-direction: column;
      }

      .item {
        margin-bottom: 10% !important;
        width: 85%;
        height: 450px;
        margin: 8% 2%;
      }

      .item-center {
        width: 72%;
        height: 400px;
        margin: 10% 2%;
      }

      .content h2 { 
        font-size: 16px;
        line-height: 20px;
      }
    
      .content h1 { 
        padding-top: 20px;
        font-size: 1.8rem;
        line-height: 2.2rem;
      }

      .advantages {
        margin-top: 20%;
        height: 35%;
      }

      .advantages-item p {
        margin-left: -3%;
        font-size: 12px;
        line-height: 15px;
      }

      .advantages-item img {
        margin-right: 7%;
      }

      .button {
        margin-top: 15%;
        padding-top: 20%;
      }
      
      .plans-button {
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 17px;
        border-radius: 110px;
        &.top,&.bottom{
          padding: 5% 10%;
        }
      }
    }
  }
  
  
  