@import "../../styles/variables";

@media screen and (max-width: 1400px){

  .plans_wrapper_container{
    width: 95%;
  };

  .container-item_content_header h3,
  .container-item_content_header h2 {
    font-size: 18px;
  };

  .container-item_content_footer_btn{
    font-size: 22px;
  };

  .head-title{
    font-size: 38px;
  };

  .head-subtitle{
    font-size: 28px;
  };

};

@media screen and (max-width: 1300px){

  .plans_wrapper_container{
    width: 90%;
  };

  .container-item_content_header h3,
  .container-item_content_header h2 {
    font-size: 16px;
  };

  .container-item_content_footer_btn{
    font-size: 20px;
  };

  .head-title{
    padding: 0 57px;
    font-size: 32px;
    text-align: center;
  };
  
  .head-subtitle{
    padding: 0 57px;
    font-size: 20px;
    text-align: center;
  };

};

@media screen and (max-width: 1200px){
  .plans_wrapper_container{
    width: 83%;
  };

};

@media screen and (max-width: 1100px){
  .container-item_content_header h3,
  .container-item_content_header  h2 {
    font-size: 20px;
  };

  .container-item_content_footer_btn{
    font-size: 24px;
  };

  .head-title{
    font-size: 40px;
  };

  .head-subtitle{
    font-size: 30px;
  };

  .plans_wrapper_container{
    flex-direction: column;
    align-items: center;
    width: 100%;
  };
};

@media screen and (max-width: 470px) {
  .plans-folder {
    // background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlans.svg");
    background-repeat: no-repeat;
    background-position: 65% 0%;
  }
  
  .head-title {
    font-size: 18px;
    line-height: 22px;
  }

  .head-subtitle {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
  }

  .container-item_content_header h2 {
    font-size: 16px;
    line-height: 20px;
  }

  .plans_wrapper_container {
    padding: 0px 57px;
  }

  .plans {
    .container-item {
    width: 100% !important;
    border-radius: 30px !important;
    margin-top: 120px;
    padding: 30px 0 40px;
    
      &_content {
        width: 100%;
        
        &_header {
          height: 100%;
          h2 {
            font-size: 16px;
            line-height: 20px;
          }
          
          h1 {
            font-size: 36px;
            line-height: 44px;
          }
          
          h3 {
            font-size: 13px;
            line-height: 16px;
          }
        }
        &_main {
          
          .main-item p {
            font-size: 12px;
            line-height: 15px;
          }
        }
        
        &_footer {
          padding: 11px 29px;
          input {

            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
}