@import "../../styles/variables";

body {
    padding: 0;
    margin: 0;
  }

@media (min-width: 162.5rem) {
  .plans_wrapper_container {
    width: 65% !important;
    margin: 5% 16% !important;
  }
}
  
  /* Desctop tariff-plans styles */
  .plans {
    background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlans.svg");
    text-align: center;
    margin-top: -100px;
    padding-top: 100px;
    padding-bottom: 100px;

    .plans-wrapper {
      padding: 1% 0 4%;
    }
    
    .head-title {
      text-transform: uppercase;
      text-align: left;
      color: $color;
      font-weight: bold;
      letter-spacing: 0.088rem;
      margin: 2% 18% 1.5%;
      font-size: 2.7rem;
      line-height: 2.5rem;
    }
    
    .head-subtitle {
      color:  #E6EAFF;
      text-align: left;
      margin: 0 18%;
      font-size: 1.3rem;
      opacity: 0.8;
      line-height: 1.625rem;
      letter-spacing: 1.41px;
      padding-top: 1%;
    }
  
    .plans_wrapper_container {
      width: 85%;
      margin: 5% 9%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
    }
  
    .container-item {
      background-color: $bgColor;
      border-radius: 2.5rem;
      box-shadow: 0px 4px 2.5rem rgba(42, 82, 130, 0.12);
      width: 446px;
      height: 655px;
      display: flex;
      margin: 0 2% !important;
      flex-direction: column;
      align-items: center;
    }
  
    .container-item_content {
      width: 90%;
      height: 80% !important;
      margin: 13% 0 5%;
      align-items: center;
    }
  
    .container-item_content_header {
      height: 30%;
    }
  
    .container-item_content h2 {
      color: #759CCB;
      font-weight: bold;
      font-size: 1.7rem;
      line-height: 1.5rem;
      letter-spacing: 1.41;
      text-transform: uppercase;
    }
  
    .container-item_content h1 {
      padding-top: 7%;
      color: #232323;
      font-weight: bold;
      font-size: 3.2rem;
      line-height: 2.5rem;
      letter-spacing: 1.5px;
      opacity: 0.8;
    }
  
    .container-item_content p {
      color: $plansParagraphColor;
      font-size: 1.4rem !important;
      letter-spacing: 1.41px;
    }
  
    .container-item_content_main {
      height: 48%;
      margin-top: 15%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .main-item {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 3% 0;
      border-top: 1.9px solid $plansBorderTopColor;
    }
  
    .main-item img {
      width: 5px;
      height: 5px;
      margin-right: 5%;
      margin-left: 6%;
      margin-top: 5%;
    }
  
    .main-item p {
      margin-left: 2%;
      text-align: left;
      font-weight: 500 !important;
      color: $plansParagraphColor;
      font-size: 1.2rem !important;
      line-height: 150%;
      letter-spacing: 1.41px;
    }
  
    .container-item_content_footer {
      border-top: 1.9px solid $plansBorderTopColor;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: -3%;
      padding-top: 22%;
    }
    
    .container-item_content_footer_btn {
      display: block;
      width: auto;
      font-size: 1.5rem;
      letter-spacing: 1px;
      color: $color;
      font-weight: 800 !important;
      line-height: 2rem;
      border-radius: 80px;
      &.top,&.bottom{
        display: flex;
        align-items: center;
        padding: 4% 13%;
      }
    }
  }

//  // Styles for media devices
//  @media screen and (min-width: 600px) and (max-width: 850px) {
//    .Plans {
//      .item {
//        height: 40rem;
//      }
//      .content h2 {
//        font-size: 1.3rem;
//        line-height: 1.1rem;
//      }
//      .content h1 {
//        font-size: 2rem;
//        line-height: 1.6rem;
//      }
//      .content p {
//        font-size: 1rem !important;
//      }
//      .advantages {
//        height: 55%;
//      }
//      .advantages-item p {
//        font-size: 0.8rem !important;
//      }
//    }
//}
//
//  // Mobile tariff-plans styles
//  @media(max-width: "600px") {
//    .Plans {
//      background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlansMobile.jpg");
//
//      .top-title {
//        font-size: 1.125rem !important;
//        line-height: 1.375rem !important;
//      }
//
//      .top-subtitle {
//          font-size: 0.875rem !important;
//          line-height: 150% !important;
//      }
//
//      .container {
//        margin: 7% auto;
//        justify-content: space-around;
//        flex-direction: column;
//      }
//
//      .item {
//        margin-bottom: 10% !important;
//        width: 85%;
//        height: 450px;
//        margin: 8% 2%;
//      }
//
//      .item-center {
//        width: 72%;
//        height: 400px;
//        margin: 10% 2%;
//      }
//
//      .content h2 {
//        font-size: 1rem;
//        line-height: 1.25rem;
//      }
//
//      .content h1 {
//        padding-top: 1.25rem;
//        font-size: 1.8rem;
//        line-height: 2.2rem;
//      }
//
//      .advantages {
//        margin-top: 20%;
//        height: 35%;
//      }
//      .advantages-item {
//        width: 80% !important;
//      }
//
//      .advantages-item p {
//        margin-left: -3%;
//        font-size: 1rem !important;
//        line-height: 0.94rem;
//      }
//
//      .advantages-item img {
//        margin-right: 7%;
//      }
//
//      .button {
//        margin-top: 15%;
//        padding-top: 20%;
//      }
//
//      .plans-button {
//        font-size: 0.875rem;
//        letter-spacing: 1px;
//        line-height: 1.06rem;
//        border-radius: 110px;
//        &.top,&.bottom{
//          padding: 5% 10%;
//        }
//      }
//    }
//  }
  
  
  