@import "../../styles/variables";

@mixin flexAlignCenter{
  display: flex;
  align-items: center;
}

@mixin flexAlignJustifyCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
    padding: 0;
    margin: 0;
}

.plans-folder{
  background: no-repeat bottom/cover url("../../assets/images/Plans/bcgPlans.svg");
}
  
  /* Desctop tariff-plans styles */
  .plans {
    @include flexAlignJustifyCenter;
    text-align: center;
    margin-top: -100px;
    padding-top: 200px;
    padding-bottom: 400px;
    transition: 1s ease-in;
    width: 100%;

    .plans_wrapper_head{
      width: 100%;

      .head-title {
        text-align: left;
        color: $color;
        padding-left: 4%;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 1.40714px;
        text-transform: uppercase;
      }

      .head-subtitle {
        text-align: left;
        padding: 1% 0% 0% 4%;
        font-style: normal;
        font-weight: 300;
        font-size: 30px;
        line-height: 37px;
        letter-spacing: 1.40714px;
        color: #E6EAFF;
        opacity: 0.8;
      }
    }
    

  
    .plans_wrapper_container {
      @include flexAlignCenter;
      width: 100%;
      justify-content: space-between;
      flex-direction: row;

      .container-item {
        @include flexAlignCenter;
        background-color: $bgColor;
        border-radius: 60px;
        box-shadow: 0px 4px 2.5rem rgba(42, 82, 130, 0.12);
        width: 446px;
        height: 655px;
        margin: 0 2% !important;
        flex-direction: column;

        .container-item_content {
          width: 90%;
          height: 80% !important;
          margin: 13% 0 5%;
          align-items: center;

          .container-item_content_header {
            height: 30%;

            h1 {
              padding-top: 7%;
              color:  #132E52;
              font-style: normal;
              font-weight: 800;
              font-size: 60px;
              line-height: 73px;
              letter-spacing: 1.40714px;
              opacity: 0.8;

              span{
                font-size: 40px;
              }
            }

            h2 {
              color: #FF7C82;
              font-style: normal;
              font-weight: bold;
              font-size: 20px;
              letter-spacing: 1.40714px;
              text-transform: uppercase;
            }

            h3 {
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 24px;
              text-align: center;
              letter-spacing: 1.40714px;
              color: #132E52;
              opacity: 0.6;
            }

            #unique-item-paragraph{
              color: #8DB4E2;
            }

          }

        }

      }

    }

    .container-item_content_main {
      @include flexAlignCenter;
      height: 48%;
      margin-top: 15%;
      flex-direction: column;

      .main-item:nth-child(2){
        border-bottom: 2px solid $plansBorderTopColor;
      }

      .main-item {
        width: 80%;
        display: flex;
        flex-direction: row;
        padding: 3% 0;
        border-top: 2px solid $plansBorderTopColor;

        img {
          width: 15px;
          height: 15px;
          margin: 20px 10px 0px 20px;
        }

        p {
          margin-left: 2%;
          text-align: left;
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 1.40714px;
          color: #132E52;
          opacity: 0.6;
          padding: 10px 0px 10px;

          span {
            padding-top: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 1.40714px;
            color: #132E52;
            opacity: 0.6;
          }
        }

      }

    }

    .container-item_content_footer {
      @include flexAlignJustifyCenter;
      width: 100%;

      .container-item_content_footer_btn {
        width: 227.21px;
        height: 62.54px;
        border-radius: 80px;
        background-color: #34D086;
        color: $color;
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 1.40714px;
        cursor: pointer;
        outline: none;
        border: none;
      }

      #unique-item-button {
        background-color: #ECEFFF;
        color: #195AA9;
      }

    }

  }