@import "../../styles/mixins";
@import "../../styles/variables";

#footer-nav-bar{
  @include centralFlexPosition;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .footer-nav-bar_links a{
    margin: 0px 65px 0px 65px;
  };

  button{
    font-size: 16px;
    line-height: 20px;
    @include buttonCorrect;
    background: rgba(255, 255, 255, 0);
    color: $color;
  };

};

#landing-footer-nav-bar a{
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .3s;
  padding-bottom: 10px;
};

#footer-nav-bar_content a:hover{
  background-size: 0% 2px;
};


#extension-footer-nav-bar, #player-footer-nav-bar{
  .Footer{

    p{
      color: black;
    };

  }
  
}


#extension-footer-nav-bar a, #player-footer-nav-bar a{
  text-decoration: none;
  color: $navMenuColor;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size .3s;
  padding-bottom: 10px;


  
};

#extension-footer-nav-bar a:hover, #player-footer-nav-bar a:hover{
  background-size: 0% 2px;
};

#landing-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -8vw;
  position: absolute;
};

#extension-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -7vw;
  position: absolute;

  button{
    color:$navMenuColor;
  };

};

#player-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -7vw;
  position: absolute;

  button{
    color:$navMenuColor;
  };

};