@import "../../styles/mixins";
@import "../../styles/variables";

#footer-nav-bar{
  @include centralFlexPosition;
  width: 100%;
  overflow: hidden;

  a{
    margin: 0px 70px 0px 70px;
  };

  button{
    font-size: 16px;
    line-height: 20px;
    @include buttonCorrect;
    background: rgba(255, 255, 255, 0);
    color: $color;
  };

};

#landing-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -5.5%;
  position: absolute;
};

#extension-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -5.5%;
  position: absolute;

  button{
    color:#195AA9;
  };

};

#player-footer-nav-bar{
  @include centralFlexPosition;
  margin-top: -2.5%;
  position: absolute;

  button{
    color:#195AA9;
  };

};


@media(max-width: "599px"){

  #footer-nav-bar{

    button{
      margin: 0px 20px 0px 20px;
    };
  
  };

  #landing-footer-nav-bar{
    margin-top: -10.5%;
  };

  #extension-footer-nav-bar{
    margin-top: -2.5%;
  };

  #player-footer-nav-bar{
    margin-top: -7.5%;
  };

};
