
@media screen and (max-width: "1580px"){

    #landing-footer-nav-bar{
      margin-top: -11vw;
    };

    #extension-footer-nav-bar, #player-footer-nav-bar{
      margin-top: -10vw;
    }

  };

  @media screen and (max-width: "1000px"){

    #landing-footer-nav-bar{
      margin-top: -15vw;
    };

    #extension-footer-nav-bar, #player-footer-nav-bar{
      margin-top: -14vw;
    }

  };

  @media screen and (max-width: "640px"){

    #footer-nav-bar{

      #landing-footer-nav-bar{
        margin-top: -19vw;
      };

      #extension-footer-nav-bar, #player-footer-nav-bar{
        margin-top: -18vw;
      }

      button{
        font-size: 13px;
      };

    };

  };

  @media screen and (max-width: "400px"){

    #footer-nav-bar{

      #landing-footer-nav-bar{
        margin-top: -22vw;
      };

      #extension-footer-nav-bar, #player-footer-nav-bar{
        margin-top: -21vw;
      }

    };

  };




  @media screen and (max-width: "1534px"){

    #player-footer-nav-bar{
      margin-top: -7%;
    };

  };

  @media(max-width: "700px"){

    #footer-nav-bar{

      .footer-nav-bar_links a{
        margin: 0px 30px 0px 30px;
      };

    };

  };

  @media(max-width: "599px"){

    #footer-nav-bar{

      .footer-nav-bar_links a{
        margin: 0px 20px 0px 20px;
      };

    };

    #landing-footer-nav-bar{
      margin-top: -10.5%;
    };

    #extension-footer-nav-bar{
      margin-top: -2.5%;
    };

    #player-footer-nav-bar{
      margin-top: -7.5%;
    };

  };

  @media screen and (max-width: 390px){
    #footer-nav-bar{
        .footer-nav-bar_links a{
            padding-bottom: 5px;
        };

        button{
            font-size: 11px;
        };

    };
  }
