@media screen and (max-width: 1534px) {
  #player-footer-nav-bar {
    margin-top: -7%;
  }
}
@media screen and (max-width: 1100px) {
    #footer-nav-bar_content-b {
      padding: 40px 20px;
    }
}

@media screen and (max-width: 870px) {
  #footer-nav-bar_content-b {
  }
  .footer-nav-bar-b {
    flex-direction: column;
    justify-content: center;
    button {
      font-size: 17px;
    }
  }
  #footer-nav-bar-text {
    p {
      font-size: 12px;
    }
  }

  #footer-nav-bar {
    .footer-nav-bar_links a {
      margin: 0px 35px 0px 35px;
    }
  }
}

@media screen and (max-width: 674px) {
  #footer-nav-bar_content-b {
    flex-direction: column;
    justify-content: center;
  }
  .footer-nav-bar-b {
    button {
      font-size: 15px;
    }
  }
  #footer-nav-bar-text {
    p {
      text-align: center;
      font-size: 12px;
    }
  }

  #footer-nav-bar {
    .footer-nav-bar_links a {
      margin: 0px 15px 0px 15px;
    }

    #landing-footer-nav-bar {
      margin-top: -12vw;
    }

    button {
      font-size: 13px;
    }
  }
}

@media (max-width: 599px) {
  #footer-nav-bar_content-b {
    flex-direction: column;
    justify-content: center;

    padding: 20px 50px 20px 50px;
  }
  .footer-nav-bar-b {
    button {
      font-size: 13px;
    }
  }
  #footer-nav-bar-text {
    p {
      font-size: 10px;
    }
  }

  #footer-nav-bar {
    .footer-nav-bar_links a {
      margin: 0px 10px 0px 10px;
    }
  }

  #landing-footer-nav-bar {
    margin-top: -1.5%;
  }

  #extension-footer-nav-bar {
    margin-top: -2.5%;
  }

  #player-footer-nav-bar {
    margin-top: -7.5%;
  }
}

@media screen and (max-width: 420px) {
  #footer-nav-bar_content-b {
    flex-direction: column;
    justify-content: center;
    padding: 20px 50px 40px 50px;
  }
  .footer-nav-bar-b {
    button {
      font-size: 11px;
    }
  }
  #footer-nav-bar-logos {
    transform: translateY(-20px);
  }

  #footer-nav-bar-text {
    text-align: center;
    p {
      font-size: 8px;
      transform: translateY(70px);
    }
  }

  #footer-nav-bar-text-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #footer-nav-bar {
    .footer-nav-bar_links a {
      padding-bottom: 5px;
    }

    button {
      font-size: 9px;
    }
  }
  #footer-nav-bar-text-links a {
    padding: 10px 0px 4px;
  }

  #footer-nav-bar-text-links a+a {
    margin-left: 0;
  }

}
