@media screen and (max-width: 1534px){

  #player-footer-nav-bar{
    margin-top: -7%;
  };

};

@media screen and (max-width: 870px){

  #footer-nav-bar{

    .footer-nav-bar_links a{
      margin: 0px 35px 0px 35px;
    };

  };

};

@media screen and (max-width: 674px){

  #footer-nav-bar{

    .footer-nav-bar_links a{
      margin: 0px 15px 0px 15px;
    };

    #landing-footer-nav-bar{
      margin-top: -12vw;
    };


    button{
      font-size: 13px;
    };

  };

};

@media(max-width: 599px){

  #footer-nav-bar{

    .footer-nav-bar_links a{
      margin: 0px 10px 0px 10px;
    };

  };

  #landing-footer-nav-bar{
    margin-top: -1.5%;
  };

  #extension-footer-nav-bar{
    margin-top: -2.5%;
  };

  #player-footer-nav-bar{
    margin-top: -7.5%;
  };

};

@media screen and (max-width: 390px){
  #footer-nav-bar{

    .footer-nav-bar_links a{
        padding-bottom: 5px;
    };

    button{
        font-size: 9px;
    };

  };

};