@import "../../styles/mixins";
@import "../../styles/variables";

body {
  @include pureBody;
};

/* Header of the page */
.getStartedPlayer-header {
  background: no-repeat bottom/cover url("../../assets/images/bcgPlayerTop.png");
  text-align: center;
  margin-top: -100px;
  padding-top: 100px;
};

.wrapper-getStarted {
  padding: 1% 0 4%;
};

.getStarted-logo {
  text-align: center;
  padding-top: 5%;
};

@media(max-width: "1534px"){

  .getStartedPlayer-button:nth-child(1){
    margin-top: -100px;
  };

};

@media(max-width: "599px") {
  .getStarted-logo {
    width: 60%;
  };

  .startedPlayer-button {
    width: 90% !important;
    font-size: 0.9rem !important;
    margin: 1% 2% !important;

    &.top,&.bottom{
      @include centralAlignFlex;
      padding: 3% 2% !important;
    };

  };

  .getStartedPlayer-button:nth-child(1){
    margin-top: -100px;
  };

};

.getStarted-title {
  color:  #195AA9;
  text-align: center;
  letter-spacing: 1.41px;
  margin: 1% 15% 0.5%;
  font-style: normal;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 44px;
};

.getStarted-subtitle {
  color:  #195AA9;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 165.7%;
  letter-spacing: 0.41px;
  margin-bottom: 5rem;
  padding-top: 3%;
};

.getStartedPlayer-button {
  @include centralFlexPosition;
  flex-direction: column;

  p{
    @include pureBody;
    padding-top: 10px;
    color: #195AA9;
  };

  p a{
    color: #195AA9;
    text-decoration: underline;
  }

  &.bottom{
    margin: 0;
    transform: translateY(-50%);
  };

};



.startedPlayer-button {
  @include normalBoldFont;
  display: block;
  width: 17%;
  justify-content: center;

  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  line-height: 17px;
  margin: 0 1.5%;

  background: $startBtnColor;
  border: none;
  border-radius: 110px;
  // transition: 3s;
  transition: all 0.7s linear;

  &:hover {
    background: $startBtnColorHover;
  };

  &.top,&.bottom{
    @include centralAlignFlex;
    padding: 1.2% 1.2%;
  };

  &.bottom {
    font-size: 1.4rem;
  };

  &.blog-button {
    padding: 20px 20px;
    max-width: 360px;
  };

};

.player-content {
  height: 360px;
};

.Description-Scroll {

  .extension-header-top {
    width: 100%;
  };

  margin-bottom: 2vh;
  padding: 1% 8%;
  font-style: "Comfortaa", sans-serif !important;
};

.Description-Scroll-image {
  padding-top: 40px;

  img {
    width: 60%;
    height: 100%;
  };

};

.Description-Scroll {

  .footer-button {
    margin-top: 30%;
  };

  .player-block {
    margin-bottom: 50px;
  };

  .extension-header {
    display: flex;
  };

};

// .startedPlayer-button:hover{
//   // transition: 3s ease-in-out;
//   background: red;
// }

@media (max-width: 540px) {
  .Description-Scroll {

    .player-block h2 {
      font-size: 1.1rem !important;
    };

    .player-block p {
      font-size: 0.9rem !important;
    };

    .player-block {
      margin-left: -30px;
    };

    .player-content {
      margin: 3px;
      height: 450px;
      width: 100%;
    };
    
    .scrolled-item img {
      margin-right: 7px !important;
    };

  };

};