@import "../../styles/mixins";

body {
 @include pureBody;
};

/* Header of the page */
.getStartedExt-header {
  background: no-repeat bottom/cover url("../../assets/images/bcgTop.png");
  text-align: center;
  margin-top: -100px;
  padding-top: 100px;
};

.getStarted-subtitle{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.getStarted-subtitle li{
  margin-left: 50px;
  list-style: disc;
  font-size: 1.2rem;
};

.wrapper-getStarted {
  padding: 1% 0 4%;
};

.getStarted-logo {
  text-align: center;
  padding-top: 5%;
};

@media(max-width: "599px") {

  .scrolled-content-header h1 {
    font-size: 34px;
    line-height: 38px;
  };

  .description-devices img {
    width: 90% !important;
    height: 80%;
  };

  .getStarted-logo {
    width: 60%;
  };

  .started-button {

    &.top,&.bottom{
      @include centralAlignFlex;
      padding: 4% 10% !important;
    };

  };

  .getStarted-footer{
    height: 35vw;
    padding-top: 21%;
  };

};

.getStarted-title {
  color:  #195AA9;
  text-align: center;
  letter-spacing: 1.41px;
  margin: 1% 15% 0.5%;
  font-style: normal;
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 44px;
};

.getStarted-button {
  @include centralJustifyFlex;
  width: 100%;
  margin-top: 2%;

  // &.bottom{
  //   margin: 0;
  //   transform: translateY(-50%);
  // };

};




.getStarted-button:nth-child(1){
  margin: 0;
  transform: translateY(-50%);
};

.started-button {
  @include normalBoldFont;
  display: block;
  width: auto;
  font-size: 1.125rem;
  // text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  line-height: 1.375rem;

  background-color: #FF6A70;
  border: none;
  border-radius: 110px;
  transition: all 0.3s linear;

  &:hover {
    background-color: #ffb43f;
  };

  &.top,&.bottom{
    @include centralAlignFlex;
    padding: 1% 3%;
  };

  &.bottom {
    font-size: 1.4rem;
  };

  &.blog-button {
    padding: 20px 20px;
    max-width: 360px;
  };

};

.getStarted-footer {
  background: url("../../assets/images/bottom_flowers.png") bottom/cover no-repeat;
  height: 27vw;
  padding-top: 18%;
};

@media (max-width: 540px) {
  .Description-Scroll {

    .get-started-button-extension {
      padding-right: 2% 5%;
    };

  };

};