@import "../../styles/variables";
@import "../../styles/mixins";

.NotFound {
    @include centralFlexPosition;
    @include flexColumn;
    padding-top: 80px;
    color: black;
    width: 100%;

    h1 {
        font-size: 2.7rem !important;
        font-weight: bold;
    };

    h1, p {
        color: #0089DF;
    };

    p {
        opacity: 0.8;
        margin: 1.5% 10% 2.5% !important;
        text-align: center;
    };

    .button-homepage {
        width: 100%;
        border-radius: 34.5px;
        background-color: #1E4470;
        padding: 13px 25px;
    };

};

@media (max-width: 610px) {

    .NotFound {

        img, h1, p {
            width: 80%;
            text-align: center;
        };

        .button-homepage {
            margin-top: 20px;
        };

    };

};





